.btn {
  display: inline-block;
  color: $color-white;
  background-color: $color-btn-blue;
  padding: 1.6rem;
  border-radius: 0.8rem;
}

.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  background: $color-bg-pink-dark;
}
