.label-nav {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.3rem;
}

.title {
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: -0.2rem;
  &.title--b {
    font-weight: 700;
  }
}

.title-2 {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.1rem;
  &.title-2--b {
    font-weight: 700;
  }
}

.desc {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3.2rem;
  &.desc--card {
    font-size: 1.6rem;
  }
}

.label-btn {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
}

.label-overlay {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.label-logo {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.8rem;
  letter-spacing: -0.1rem;
  &.label-logo--b {
    font-weight: 700;
  }
}

.caption {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  &.caption--b {
    font-weight: 700;
  }
}

.social-link {
  font-size: 1.6rem;
  line-height: 4.8rem;
}

//Media Queries
// sm 576-767
@media screen and (min-width: 576px) {
}

// md 768-991
@media screen and (min-width: 768px) {
}

// lg 992-1199
@media screen and (min-width: 992px) {
  .title-lg {
    font-size: 7.2rem;
    line-height: 8rem;
    letter-spacing: -0.3rem;
  }
  .title-2-lg {
    font-size: 5.6rem;
    line-height: 6.4rem;
    letter-spacing: -0.2rem;
  }
}

// xl 1200-1399
@media screen and (min-width: 1200px) {
}

// xxl 1400 and above
@media screen and (min-width: 1400px) {
}
