//Spacing
.m-r-16 {
  margin-right: 1.6rem;
}

.m-r-78 {
  margin-right: 7.8rem;
}

.m-l-n16 {
  margin-left: -1.6rem;
}

.m-t-n10 {
  margin-top: -1rem;
}

.m-b-6 {
  margin-bottom: 0.6rem;
}

.m-b-8 {
  margin-bottom: 0.8rem;
}

.m-b-9 {
  margin-bottom: 0.9rem;
}

.m-b-14 {
  margin-bottom: 1.4rem;
}

.m-b-15 {
  margin-bottom: 1.5rem;
}

.m-b-16 {
  margin-bottom: 1.6rem;
}

.m-b-18 {
  margin-bottom: 1.8rem;
}

.m-b-20 {
  margin-bottom: 2rem;
}

.m-b-21 {
  margin-bottom: 2.1rem;
}

.m-b-22 {
  margin-bottom: 2.2rem;
}

.m-b-25 {
  margin-bottom: 2.5rem;
}

.m-b-26 {
  margin-bottom: 2.6rem;
}

.m-b-28 {
  margin-bottom: 2.8rem;
}

.m-b-29 {
  margin-bottom: 2.9rem;
}

.m-b-30 {
  margin-bottom: 3rem;
}

.m-b-31 {
  margin-bottom: 3.1rem;
}

.m-b-32 {
  margin-bottom: 3.2rem;
}

.m-b-33 {
  margin-bottom: 3.3rem;
}

.m-b-34 {
  margin-bottom: 3.4rem;
}

.m-b-35 {
  margin-bottom: 3.5rem;
}

.m-b-36 {
  margin-bottom: 3.6rem;
}

.m-b-40 {
  margin-bottom: 5rem;
}

.m-b-48 {
  margin-bottom: 4.8rem;
}

.m-b-49 {
  margin-bottom: 4.8rem;
}

.m-b-50 {
  margin-bottom: 5rem;
}

.m-b-64 {
  margin-bottom: 6.4rem;
}

.m-b-100 {
  margin-bottom: 10rem;
}

.m-b-106 {
  margin-bottom: 10rem;
}

.m-b-185 {
  margin-bottom: 18.5rem;
}

.m-b-120 {
  margin-bottom: 10rem;
}

.p-t-8 {
  padding-top: 8rem;
}

.p-t-12 {
  padding-top: 1.2rem;
}

.p-t-60 {
  padding-top: 6rem;
}

.p-t-77 {
  padding-top: 7.7rem;
}

.p-t-80 {
  padding-top: 6rem;
}

.p-t-95 {
  padding-top: 9.5rem;
}

.p-t-100 {
  padding-top: 10rem;
}

.p-t-109 {
  padding-top: 10.9rem;
}

.p-t-120 {
  padding-top: 12rem;
}

.p-t-124 {
  padding-top: 12.4rem;
}

.p-t-172 {
  padding-top: 17.2rem;
}

.p-48 {
  padding: 4.8rem;
}

.p-b-35 {
  padding-bottom: 3.5rem;
}

.p-b-38 {
  padding-bottom: 3.8rem;
}

.p-b-49 {
  padding-bottom: 4.9rem;
}

.p-b-50 {
  padding-bottom: 5rem;
}

.p-b-65 {
  padding-bottom: 6.5rem;
}

.p-b-80 {
  padding-bottom: 8rem;
}

.p-b-81 {
  padding-bottom: 8.1rem;
}

.p-b-98 {
  padding-bottom: 9.8rem;
}

.p-b-90 {
  padding-bottom: 9rem;
}

.p-b-108 {
  padding-bottom: 10.8rem;
}

.p-b-113 {
  padding-bottom: 11.3rem;
}

.p-b-120 {
  padding-bottom: 12rem;
}

.p-b-125 {
  padding-bottom: 12.5rem;
}

.p-b-185 {
  padding-bottom: 18.5rem;
}

.l-ht-32 {
  line-height: 3.2rem;
}

.gap-15 {
  gap: 1.6rem;
}

.gap-16 {
  gap: 1.6rem;
}

.gap-20 {
  gap: 2rem;
}

.gap-30 {
  gap: 3rem;
}

//Border
.bd-0 {
  border: 0;
}

.bd-rd-8 {
  border-radius: 0.8rem;
}

.bd-rd-24 {
  border-radius: 2.4rem;
}

.bd-rd-32 {
  border-radius: 3.2rem;
}

//Colors
.c-white {
  color: $color-white;
}

.c-pink {
  color: $color-lbl-pink;
}

.c-black-desc {
  color: $color-desc-black;
}

//Opacity
.op-50 {
  opacity: 50.3%;
}

// Alignment
.txt-al-ct {
  text-align: center;
}

.ver-al-mid {
  vertical-align: middle;
}

//Media Queries
// sm 576-767
@media screen and (min-width: 576px) {
}

// md 768-991
@media screen and (min-width: 768px) {
  .txt-al-ini-md {
    text-align: initial;
  }
}

// lg 992-1199
@media screen and (min-width: 992px) {
  //Spacing
  .m-r-78-lg {
    margin-right: 7.8rem;
  }

  .m-b-9-lg {
    margin-bottom: 0.9rem;
  }

  .m-b-13-lg {
    margin-bottom: 0.9rem;
  }

  .m-b-16-lg {
    margin-bottom: 1.6rem;
  }

  .m-b-21-lg {
    margin-bottom: 2.1rem;
  }

  .m-b-22-lg {
    margin-bottom: 2.2rem;
  }

  .m-b-24-lg {
    margin-bottom: 2.4rem;
  }

  .m-b-25-lg {
    margin-bottom: 2.5rem;
  }

  .m-b-26-lg {
    margin-bottom: 2.6rem;
  }

  .m-b-28-lg {
    margin-bottom: 2.8rem;
  }

  .m-b-32-lg {
    margin-bottom: 3.2rem;
  }

  .m-b-33-lg {
    margin-bottom: 3.3rem;
  }

  .m-b-242-lg {
    margin-bottom: 24.2rem;
  }

  .m-b-62-lg {
    margin-bottom: 3.3rem;
  }

  .p-b-un {
    padding-bottom: unset;
  }

  .p-b-22-lg {
    padding-bottom: 2.2rem;
  }

  .p-b-69-lg {
    padding-bottom: 6.9rem;
  }

  .p-b-81-lg {
    padding-bottom: 8.1rem;
  }

  .p-b-96-lg {
    padding-bottom: 9.6rem;
  }

  .p-b-98-lg {
    padding-bottom: 9.8rem;
  }

  .p-b-130-lg {
    padding-bottom: 9.8rem;
  }

  .p-b-142-lg {
    padding-bottom: 14.2rem;
  }

  .p-b-157-lg {
    padding-bottom: 15.7rem;
  }

  .p-b-160-lg {
    padding-bottom: 16rem;
  }

  .p-b-242-lg {
    padding-bottom: 24.2rem;
  }

  .p-t-47-lg {
    padding-top: 4.7rem;
  }

  .p-t-130-lg {
    padding-top: 13rem;
  }

  .p-t-188-lg {
    padding-top: 18.8rem;
  }

  .p-t-236-lg {
    padding-top: 23.6rem;
  }

  .gap-30-lg {
    gap: 3rem;
  }
}

// xl 1200-1399
@media screen and (min-width: 1200px) {
}

// xxl 1400 and above
@media screen and (min-width: 1400px) {
}
