// COLORS
// Main
$color-primary-blue: #3371f2;
$color-disable-orig: #ccc;
$color-disable: rgba(34, 34, 34, 0.534);
$color-default: #999;
$color-text: #110f24;
$color-black-light: #333;
$color-black-lightv2: #666;
$color-blue-light: #a0bcf8;
$color-gray-dark: #ccced0;
$color-gray-medium: #ececee;
$color-gray-light: #f6f6f9;
$color-gray-lightv2: #f7f7f7;
$color-wildrift-bg: #82dcfd;

// Muted
$color-muted: #110f2462;

//Black and White
$color-black: #000;
$color-white: #fff;

// Additional
$color-orange: #e67337;
$color-red: #c84040;
$color-green: #3ca455;
$color-yellow: #fdca40;
$color-blue: #542e71;
$color-blue-seawire: #547ff3;
$color-lightblue: #9a3ce2;
$color-darkblue: #2f216d;
$color-cream: #fefecc;

// Kitchen Colors
$color-btn-blue: #122798;
$color-bg-pink: #e3775e;
$color-bg-white: #fbece7;
$color-lbl-pink: #e3775e;

// FONTS
//Two instance of Roboto for default and custom
$font-primary: "Kufam", sans-serif;
$font-kufam: "Kufam", cursive;
//font-sizes
$font-size-s: 1.2rem;
$font-size-m: 1.6rem;
$font-size-l: 3.2rem;
$font-size-xl: 4.8rem;

//SPACING
$sect-pad-top: 10rem;
$sect-pad-bot: 10rem;
// $space-s:;
// $space-m:;
// $space-l:;
// $space-xl:;
